p {
    font: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

table {
    border: 1px solid #aaa;
    text-align: center;
    line-height: 25px;
}

tr:nth-child(even) {
    background: #fff;
}

tr:nth-child(odd) {
    background: #ccc;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.logs {
    margin-top: 20px;
}

.logs span {
    display: block;
}